/* Pen setup */
body {
    background: #34495e;
}
#pageWrap {
    width: 100%;
    overflow: hidden;
}
#rocket {
    display: block;
    margin: 180px auto;
    cursor: pointer;
}
/* Inactive state */
#rocket .fire {
    display: none;
    fill: #f39c12;
}
#rocket .rocket-inner {
    -webkit-transform: translateY(15px) translateX(-3px);
    -moz-transform: translateY(15px) translateX(-3px);
    -ms-transform: translateY(15px) translateX(-3px);
    -o-transform: translateY(15px) translateX(-3px);
    transform: translateY(15px) translateX(-3px);
    /*transition*/
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}
#rocket .icon-circle {
    /*transition*/
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}
#rocket .bg {
    fill: #22303e;
}
#rocket .bg:hover {
    fill: #282e3a !important;
}
#rocket:hover .circlefront {
    stroke: #fff !important;
    stroke-width: 7px !important;
}
#rocket .large-window-path {
    /*transition*/
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
    fill: #22303e;
}
#rocket .window {
    /*transition*/
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
    fill: #22303e;
}
#rocket .wing-shadow {
    fill: #34495e;
}
#rocket .rocket-bottom {
    fill: #34495e;
}
#rocket .rocket-base {
    fill: #34495e;
}
#rocket .rocket-shadow {
    fill: #34495e;
}
#rocket .wing-base {
    fill: #34495e;
}

/* Hover State */
#rocket:hover .fire {
    display: block !important;
}
#rocket:hover .rocket-base {
    fill: #ecf0f1 !important;
    stroke-width: 0px !important;
}
#rocket:hover .rocket-shadow {
    fill: #ededed !important;
    stroke-width: 0px !important;
}
#rocket:hover .window {
    fill: #34495e !important;
    stroke-width: 0px !important;
}
#rocket:hover .wing-shadow {
    display: block !important;
    fill: #c0392b !important;
}
#rocket:hover .wing-base {
    fill: #e74c3c !important;
    stroke-width: 0px !important;
}
#rocket:hover .rocket-bottom {
    fill: #c0392b !important;
    stroke-width: 0px !important;
}
#rocket:hover .rocket-inner {
    -webkit-transform: translateY(0px) translateX(-3px) !important;
    -moz-transform: translateY(0px) translateX(-3px) !important;
    -ms-transform: translateY(0px) translateX(-3px) !important;
    -o-transform: translateY(0px) translateX(-3px) !important;
    transform: translateY(0px) translateX(-3px) !important;
}
/* Clicked State */
.clicked .rocket-inner {
    -moz-transform: translate(0px, 1000px);
    -ms-transform: translate(0px, 80px);
    -webkit-transform: translate(0px, 100px);
    transform: translate(0px, 100px);
    -webkit-animation: fading 1s infinite linear;
}

/* Keyframe animations */
@-webkit-keyframes fading {
    0% {
        -webkit-transform: translate(0px, 210px);
    }
    25% {
        -webkit-transform: translate(0px, 100px);
    }
    50% {
        -webkit-transform: translate(0px, 0px);
    }
    75% {
        -webkit-transform: translate(0px, -100px);
    }
    100% {
        -webkit-transform: translate(0px, -210px);
    }
}
@-moz-keyframes fading {
    0% {
        -moz-transform: translate(0px, 90px);
    }
    50% {
        -moz-transform: translate(0px, 0px);
    }
    100% {
        -moz-transform: translate(0px, -90px);
    }
}
@keyframes fading {
    0% {
        transform: translate(0px, 150px);
    }
    50% {
        transform: translate(0px, 0px);
    }
    100% {
        transform: translate(0px, -150px);
    }
}
@keyframes fireSmall {
    10% {
        transform: rotate(17deg) translateY(1px);
    }
    20% {
        transform: rotate(-13deg) translateY(2px);
    }
    30% {
        transform: rotate(21deg) translateY(3px);
    }
    40% {
        transform: rotate(-34deg) translateY(4px);
    }
    50% {
        transform: rotate(24deg) translateY(5px);
    }
    60% {
        transform: rotate(-17deg) translateY(6px);
    }
    70% {
        transform: rotate(31deg) translateY(7px);
    }
    80% {
        transform: rotate(-28deg) translateY(8px);
    }
    90% {
        transform: rotate(14deg) translateY(9px);
    }
    99% {
        transform: rotate(0deg) translateY(10px);
    }
}
@-webkit-keyframes fireSmall {
    10% {
        -webkit-transform: rotate(17deg) translateY(1px);
    }
    20% {
        -webkit-transform: rotate(-13deg) translateY(2px);
    }
    30% {
        -webkit-transform: rotate(21deg) translateY(3px);
    }
    40% {
        -webkit-transform: rotate(-34deg) translateY(4px);
    }
    50% {
        -webkit-transform: rotate(24deg) translateY(5px);
    }
    60% {
        -webkit-transform: rotate(-17deg) translateY(6px);
    }
    70% {
        -webkit-transform: rotate(31deg) translateY(7px);
    }
    80% {
        -webkit-transform: rotate(-28deg) translateY(8px);
    }
    90% {
        -webkit-transform: rotate(14deg) translateY(9px);
    }
    99% {
        -webkit-transform: rotate(0deg) translateY(10px);
    }
}
@-moz-keyframes fireSmall {
    10% {
        -moz-transform: rotate(17deg) translateY(1px);
    }
    20% {
        -moz-transform: rotate(-13deg) translateY(2px);
    }
    30% {
        -moz-transform: rotate(21deg) translateY(3px);
    }
    40% {
        -moz-transform: rotate(-34deg) translateY(4px);
    }
    50% {
        -moz-transform: rotate(24deg) translateY(5px);
    }
    60% {
        -moz-transform: rotate(-17deg) translateY(6px);
    }
    70% {
        -moz-transform: rotate(31deg) translateY(7px);
    }
    80% {
        -moz-transform: rotate(-28deg) translateY(8px);
    }
    90% {
        -moz-transform: rotate(14deg) translateY(9px);
    }
    99% {
        -moz-transform: rotate(0deg) translateY(10px);
    }
}
@-webkit-keyframes fireLeft {
    6% {
        -webkit-transform: rotate(25deg);
    }
    15% {
        -webkit-transform: rotate(-19deg);
    }
    25% {
        -webkit-transform: rotate(25deg);
    }
    32% {
        -webkit-transform: rotate(-30deg);
    }
    46% {
        -webkit-transform: rotate(22deg);
    }
    54% {
        -webkit-transform: rotate(-29deg);
    }
    61% {
        -webkit-transform: rotate(32deg);
    }
    74% {
        -webkit-transform: rotate(-9deg);
    }
    83% {
        -webkit-transform: rotate(16deg);
    }
    99% {
        -webkit-transform: rotate(0deg);
    }
}
@-moz-keyframes fireLeft {
    6% {
        -moz-transform: rotate(25deg);
    }
    15% {
        -moz-transform: rotate(-19deg);
    }
    25% {
        -moz-transform: rotate(25deg);
    }
    32% {
        -moz-transform: rotate(-30deg);
    }
    46% {
        -moz-transform: rotate(22deg);
    }
    54% {
        -moz-transform: rotate(-29deg);
    }
    61% {
        -moz-transform: rotate(32deg);
    }
    74% {
        -moz-transform: rotate(-9deg);
    }
    83% {
        -moz-transform: rotate(16deg);
    }
    99% {
        -moz-transform: rotate(0deg);
    }
}
@keyframes fireMiddle {
    10% {
        transform: rotate(25deg);
    }
    20% {
        transform: rotate(-25deg);
    }
    30% {
        transform: rotate(30deg);
    }
    40% {
        transform: rotate(-22deg);
    }
    50% {
        transform: rotate(29deg);
    }
    60% {
        transform: rotate(-45deg);
    }
    70% {
        transform: rotate(37deg);
    }
    80% {
        transform: rotate(-15deg);
    }
    90% {
        transform: rotate(16deg);
    }
    99% {
        transform: rotate(0deg);
    }
}
@-webkit-keyframes fireMiddle {
    10% {
        -webkit-transform: rotate(25deg);
    }
    20% {
        -webkit-transform: rotate(-25deg);
    }
    30% {
        -webkit-transform: rotate(30deg);
    }
    40% {
        -webkit-transform: rotate(-22deg);
    }
    50% {
        -webkit-transform: rotate(29deg);
    }
    60% {
        -webkit-transform: rotate(-45deg);
    }
    70% {
        -webkit-transform: rotate(37deg);
    }
    80% {
        -webkit-transform: rotate(-15deg);
    }
    90% {
        -webkit-transform: rotate(16deg);
    }
    99% {
        -webkit-transform: rotate(0deg);
    }
}
@-moz-keyframes fireMiddle {
    10% {
        -moz-transform: rotate(25deg);
    }
    20% {
        -moz-transform: rotate(-25deg);
    }
    30% {
        -moz-transform: rotate(30deg);
    }
    40% {
        -moz-transform: rotate(-22deg);
    }
    50% {
        -moz-transform: rotate(29deg);
    }
    60% {
        -moz-transform: rotate(-45deg);
    }
    70% {
        -moz-transform: rotate(37deg);
    }
    80% {
        -moz-transform: rotate(-15deg);
    }
    90% {
        -moz-transform: rotate(16deg);
    }
    99% {
        -moz-transform: rotate(0deg);
    }
}
@keyframes fireRight {
    15% {
        transform: rotate(17deg);
    }
    23% {
        transform: rotate(-13deg);
    }
    37% {
        transform: rotate(21deg);
    }
    45% {
        transform: rotate(-34deg);
    }
    54% {
        transform: rotate(24deg);
    }
    67% {
        transform: rotate(-17deg);
    }
    72% {
        transform: rotate(31deg);
    }
    84% {
        transform: rotate(-28deg);
    }
    96% {
        transform: rotate(14deg);
    }
    99% {
        transform: rotate(0deg);
    }
}
@-webkit-keyframes fireRight {
    15% {
        -webkit-transform: rotate(17deg);
    }
    23% {
        -webkit-transform: rotate(-13deg);
    }
    37% {
        -webkit-transform: rotate(21deg);
    }
    45% {
        -webkit-transform: rotate(-34deg);
    }
    54% {
        -webkit-transform: rotate(24deg);
    }
    67% {
        -webkit-transform: rotate(-17deg);
    }
    72% {
        -webkit-transform: rotate(31deg);
    }
    84% {
        -webkit-transform: rotate(-28deg);
    }
    96% {
        -webkit-transform: rotate(14deg);
    }
    99% {
        -webkit-transform: rotate(0deg);
    }
}
@-moz-keyframes fireRight {
    15% {
        -moz-transform: rotate(17deg);
    }
    23% {
        -moz-transform: rotate(-13deg);
    }
    37% {
        -moz-transform: rotate(21deg);
    }
    45% {
        -moz-transform: rotate(-34deg);
    }
    54% {
        -moz-transform: rotate(24deg);
    }
    67% {
        -moz-transform: rotate(-17deg);
    }
    72% {
        -moz-transform: rotate(31deg);
    }
    84% {
        -moz-transform: rotate(-28deg);
    }
    96% {
        -moz-transform: rotate(14deg);
    }
    99% {
        -moz-transform: rotate(0deg);
    }
}
@keyframes fillOpacity1 {
    0% {
        fill-opacity: 1;
        stroke-opacity: 1;
    }
    50% {
        fill-opacity: 1;
        stroke-opacity: 1;
    }
    100% {
        fill-opacity: 0;
        stroke-opacity: 0;
    }
}
@-webkit-keyframes fillOpacity1 {
    0% {
        fill-opacity: 1;
        stroke-opacity: 1;
    }
    50% {
        fill-opacity: 1;
        stroke-opacity: 1;
    }
    100% {
        fill-opacity: 0;
        stroke-opacity: 0;
    }
}
@-moz-keyframes fillOpacity1 {
    0% {
        fill-opacity: 1;
        stroke-opacity: 1;
    }
    50% {
        fill-opacity: 1;
        stroke-opacity: 1;
    }
    100% {
        fill-opacity: 0;
        stroke-opacity: 0;
    }
}
@keyframes fillOpacity2 {
    0% {
        fill-opacity: 1;
        stroke-opacity: 1;
    }
    25% {
        fill-opacity: 1;
        stroke-opacity: 1;
    }
    100% {
        fill-opacity: 0;
        stroke-opacity: 0;
    }
}
@-webkit-keyframes fillOpacity2 {
    0% {
        fill-opacity: 1;
        stroke-opacity: 1;
    }
    25% {
        fill-opacity: 1;
        stroke-opacity: 1;
    }
    100% {
        fill-opacity: 0;
        stroke-opacity: 0;
    }
}
@-moz-keyframes fillOpacity2 {
    0% {
        fill-opacity: 1;
        stroke-opacity: 1;
    }
    25% {
        fill-opacity: 1;
        stroke-opacity: 1;
    }
    100% {
        fill-opacity: 0;
        stroke-opacity: 0;
    }
}
@keyframes fillOpacity3 {
    0% {
        fill-opacity: 1;
        stroke-opacity: 1;
    }
    67% {
        fill-opacity: 1;
        stroke-opacity: 1;
    }
    100% {
        fill-opacity: 0;
        stroke-opacity: 0;
    }
}
@-webkit-keyframes fillOpacity3 {
    0% {
        fill-opacity: 1;
        stroke-opacity: 1;
    }
    67% {
        fill-opacity: 1;
        stroke-opacity: 1;
    }
    100% {
        fill-opacity: 0;
        stroke-opacity: 0;
    }
}
@-moz-keyframes fillOpacity3 {
    0% {
        fill-opacity: 1;
        stroke-opacity: 1;
    }
    67% {
        fill-opacity: 1;
        stroke-opacity: 1;
    }
    100% {
        fill-opacity: 0;
        stroke-opacity: 0;
    }
}
@keyframes rocektMove {
    0% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(20px);
    }
}
@-webkit-keyframes rocektMove {
    0% {
        -webkit-transform: translateY(0px);
    }
    100% {
        -webkit-transform: translateY(20px);
    }
}
@-moz-keyframes rocektMove {
    0% {
        -moz-transform: translateY(0px);
    }
    100% {
        -moz-transform: translateY(20px);
    }
}

/* Animated objects */
.fire {
    -webkit-animation-timing-function: ease-in;
    -moz-animation-timing-function: ease-in;
    -ms-animation-timing-function: ease-in;
    -o-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    /*animation-iteration-count*/
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -ms-animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    /*transform-origin*/
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    /*animation-direction*/
    -webkit-animation-direction: normal;
    -moz-animation-direction: normal;
    -ms-animation-direction: normal;
    -o-animation-direction: normal;
    animation-direction: normal;
}
#rocket:hover #fire-left {
    /*animation-delay*/
    -webkit-animation-delay: 0s;
    -moz-animation-delay: 0s;
    -ms-animation-delay: 0s;
    -o-animation-delay: 0s;
    animation-delay: 0s;
    /*animation-name*/
    -webkit-animation-name: fireLeft, fillOpacity1;
    -moz-animation-name: fireLeft, fillOpacity1;
    -ms-animation-name: fireLeft, fillOpacity1;
    -o-animation-name: fireLeft, fillOpacity1;
    animation-name: fireLeft, fillOpacity1;
    /*animation-duration*/
    -webkit-animation-duration: 1.2s;
    -moz-animation-duration: 1.2s;
    -ms-animation-duration: 1.2s;
    -o-animation-duration: 1.2s;
    animation-duration: 1.2s;
}
#rocket:hover #fire-middle {
    /*animation-delay*/
    -webkit-animation-delay: 0s;
    -moz-animation-delay: 0s;
    -ms-animation-delay: 0s;
    -o-animation-delay: 0s;
    animation-delay: 0s;
    /*animation-name*/
    -webkit-animation-name: fireMiddle, fillOpacity1;
    -moz-animation-name: fireMiddle, fillOpacity1;
    -ms-animation-name: fireMiddle, fillOpacity1;
    -o-animation-name: fireMiddle, fillOpacity1;
    animation-name: fireMiddle, fillOpacity1;
    /*animation-duration*/
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -ms-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;
}

#rocket:hover #fire-right {
    /*animation-delay*/
    -webkit-animation-delay: 0s;
    -moz-animation-delay: 0s;
    -ms-animation-delay: 0s;
    -o-animation-delay: 0s;
    animation-delay: 0s;
    /*animation-name*/
    -webkit-animation-name: fireRight, fillOpacity1;
    -moz-animation-name: fireRight, fillOpacity1;
    -ms-animation-name: fireRight, fillOpacity1;
    -o-animation-name: fireRight, fillOpacity1;
    animation-name: fireRight, fillOpacity1;
    /*animation-duration*/
    -webkit-animation-duration: 1.3s;
    -moz-animation-duration: 1.3s;
    -ms-animation-duration: 1.3s;
    -o-animation-duration: 1.3s;
    animation-duration: 1.3s;
}

#rocket:hover #fire-small-left {
    /*animation-delay*/
    -webkit-animation-delay: 0s;
    -moz-animation-delay: 0s;
    -ms-animation-delay: 0s;
    -o-animation-delay: 0s;
    animation-delay: 0s;
    /*animation-name*/
    -webkit-animation-name: fireSmall, fillOpacity2;
    -moz-animation-name: fireSmall, fillOpacity2;
    -ms-animation-name: fireSmall, fillOpacity2;
    -o-animation-name: fireSmall, fillOpacity2;
    animation-name: fireSmall, fillOpacity2;
    /*animation-duration*/
    -webkit-animation-duration: 1.3s;
    -moz-animation-duration: 1.3s;
    -ms-animation-duration: 1.3s;
    -o-animation-duration: 1.3s;
    animation-duration: 1.3s;
    /*transform-origin*/
    -webkit-transform-origin: bottom;
    -moz-transform-origin: bottom;
    -ms-transform-origin: bottom;
    -o-transform-origin: bottom;
    transform-origin: bottom;
}

#rocket:hover #fire-small-right {
    /*animation-delay*/
    -webkit-animation-delay: 0.3s;
    -moz-animation-delay: 0.3s;
    -ms-animation-delay: 0.3s;
    -o-animation-delay: 0.3s;
    animation-delay: 0.3s;
    /*animation-name*/
    -webkit-animation-name: fireSmall, fillOpacity3;
    -moz-animation-name: fireSmall, fillOpacity3;
    -ms-animation-name: fireSmall, fillOpacity3;
    -o-animation-name: fireSmall, fillOpacity3;
    animation-name: fireSmall, fillOpacity3;
    /*animation-duration*/
    -webkit-animation-duration: 1.6s;
    -moz-animation-duration: 1.6s;
    -ms-animation-duration: 1.6s;
    -o-animation-duration: 1.6s;
    animation-duration: 1.6s;
    /*transform-origin*/
    -webkit-transform-origin: bottom;
    -moz-transform-origin: bottom;
    -ms-transform-origin: bottom;
    -o-transform-origin: bottom;
    transform-origin: bottom;
}

.planet6 {
    position: absolute;
    bottom: 200px;
    right: 16%;
    height: 100px;
    width: 100px;
}

.planet5 {
    position: absolute;
    bottom: 150px;
    right: 80%;
    height: 100px;
    width: 100px;
}

.planet4 {
    position: absolute;
    bottom: 40px;
    right: 50%;
    height: 100px;
    width: 100px;
}
.planet3 {
    position: absolute;
    top: 40px;
    right: 50%;
    height: 100px;
    width: 100px;
}

.planet2 {
    position: absolute;
    top: 110px;
    right: 20%;
    height: 100px;
    width: 100px;
}

.planet1 {
    position: absolute;
    top: 130px;
    left: 20%;
    height: 100px;
    width: 100px;
}
